@use "../../global" as *;
@use "../../partials" as *;

.homeproduct {
  @include border(solid, 1, $border-2);
  padding: size(16) size(8) size(8);
  @include flex-column;
  gap: size(6);
  @include h100;

  &-header {
    @include w100;
    height: size(200);
    @include flex-center;
    overflow: hidden;

    img {
      @include wh100;
      object-fit: contain;
      object-position: center center;
      @include transitiontransform;
    }
  }

  &-body {
    @include flex-column;
    gap: size(8);
    padding: size(8) size(8) size(5);
  
    .producttitle {
      color: $black;
      @include font($primaryFont, 12, medium, normal, 16.8);
      @include text-overflow;

      @include breakpoint(mobile768) {
        font-size: size(14);
      }
    }

    .productprice {
      color: $red;
      @include font($primaryFont, 15, bold, normal, 21);

      span {
        color: inherit;
        font: inherit;
      }
    }

    .soldbadge {
      @include font($primaryFont, 10, medium, normal, 14);
      color: $textgray;

      @include breakpoint(mobile768) {
        font-size: size(12);
      }
    }

    .prodprices {
      @include flex-center-vert;
      gap: size(8);

      .prevprice {
        color: $prevpricetext;
        font-size: size(13);
        font-weight: 500;
        text-decoration: line-through;

        span {
          color: inherit;
          font: inherit;
        }
      }

      .save {
        display: inline-block;
        @include radius(4);
        @include setBgColor(lighten($primary, 40%), $black);
        font-size: size(13);
        font-weight: 500;
        padding: size(4) size(8);
        text-align: center;
      }
    }
  }

  @include hover {
    .homeproduct-header {
      img {
        @include scale(.95);
      }
    }
  }
}

.card-horizontal {
  display: flex;
  gap: size(14);
  background: $bodybg;
  padding: size(14) size(12);

  .card-thumbnail {
    @include square(99);
    @include flex-center;
    overflow: hidden;
    padding: size(5);
    background: $white;

    img {
      @include wh100;
      object-fit: cover;
    }
  }

  .card-details {
    @include flex-column;
    gap: size(8);

    .cardlink {
      @include font($primaryFont, 14, semibold, normal, 19.6);
    }

    .title {
      @include font($primaryFont, 14, semibold, normal, 19.6);
      @include line-clamp;
      color: $gray-700;
    }

    .pricecount {
      @include flex-center-vert;
      gap: size(14);

      .count {
        @include font($primaryFont, 14, normal, normal, 19.6);
        color: $gray-700;
      }

      .countprice {
        @include font($primaryFont, 14, normal, normal, 19.6);
        color: $gray-700;

        span {
          color: inherit;
          font: inherit;
        }
      }
    }

    .counterbox {
      @include flex-center-vert;
      gap: size(14);

      .countcart {
        max-width: size(116);
        height: size(32);
        @include radius(4);
        padding: size(4);
        background: $gray-100;
        @include flex-center-vert;
        overflow: hidden;

        .counter {
          width: calc(100% - size(52));
          @include font($primaryFont, 12, normal, normal, 16.8);
          color: $gray-700;
          text-align: center;
          background: transparent;
        }

        .btn-decrement,
        .btn-increment {
          @include transparent-button;
          @include radius(4);
          @include square(26);
          @include flex-center;
          overflow: hidden;
        }
      }

      .icon {
        height: size(14);
        width: size(6);
        @include flex-center;

        svg {
          @include wh100;
        }
      }

      .totalcountprice {
        color: $gray-700;
        @include font($primaryFont, 12, normal, normal, 16.8);

        @include breakpoint(mobile576) {
          font-size: size(14);
        }

        span {
          color: inherit;
          font: inherit;
        }
      }
    }

    .price {
      color: $primary;

      span {
        color: inherit;
        font: inherit;
      }
    }
  }
}