// DEFAULT COLORS
$bodybg: hsl(0, 33%, 98%); //#FBF7F7
$white: hsl(0, 0%, 100%); //#ffffff
$black: hsl(0, 0%, 0%); //#000000

// THEME-COLORS

// BACKGROUND-COLORS

// ICON-BACKGROUNDS


// TEXT-COLORS

// SUCCESS COLOR


// DANGER COLOR


// LINEAR-BACKGROUNDS


// BORDER-COLORS

// SHADOWS

// BOX-SHADOWS

// LETTER-SPECING
$specing-1: size(0.24);
$time: 350ms;