// DEFAULT COLORS
$bodybg: hsl(0, 0%, 96%); //#F5F5F5
$white: hsl(0, 0%, 100%); //#ffffff
$black: hsl(0, 0%, 0%); //#000000

// THEME-COLORS
$primary: hsl(198, 76%, 52%); //#26AAE1

// BACKGROUND-COLORS
$red: hsl(354, 73%, 43%); //#BF1E2E
$bgcolor: hsl(0, 0%, 92%); //#eaeaea
$success: hsl(123, 43%, 39%); //#388e3c
$danger: hsl(349, 100%, 59%); //#ff2d55

$linkhoverbg: hsl(163, 19%, 93%); //#e9f0ee

// ICON-BACKGROUNDS


// TEXT-COLORS
$textprimary: hsl(0, 0%, 7%); //#121212
$textplaceholder: hsl(0, 0%, 77%); //#C4C4C4
$textgray: hsl(0, 0%, 37%); //#5f5f5f

// SOCIAL COLOR
$facebookbg: hsl(220, 46%, 48%); //#4267B2
$instagrambg: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
$twitterbg: hsl(203, 89%, 53%); //#1DA1F2

// SUCCESS COLOR


// DANGER COLOR


// LINEAR-BACKGROUNDS


// BORDER-COLORS
$border-1: hsl(0, 0%, 93%); //#eeeeee
$border-2: hsl(0, 0%, 97%); //#f8f8f8

// SHADOWS

// BOX-SHADOWS

// LETTER-SPECING
$specing-1: size(0.24);
$time: 350ms;