@use "../../global"as *;
@use "../../partials"as *;

.modal {
  &-content {
    @include radius(0);
  }

  &-header {
    border-bottom: 0;

    .btn-close {
      @include square(24);
      @include flex-center;
      overflow: hidden;
      opacity: 1;

      svg {
        @include wh100;
        @include transitiontransform;
      }

      @include hover {
        svg {
          @include rotate(90);

          path {
            // stroke: $danger;
          }
        }
      }
    }
  }

  &-body {
    @include flex-column;
    gap: size(16);

    .topinfo {
      @include flex-center;
      gap: size(10);

      .cardrange {
        width: calc((100% / 3) - size(10));
        @include setBgColor($bodybg, $black);
        @include radius(8);
        padding: size(10);
        @include flex-center-column;
        gap: size(4);
        text-align: center;
        min-height: size(96);
        
        .price {
          color: inherit;
          font-size: size(20);
          font-weight: 400;

          span {
            color: inherit;
            font: inherit;
          }
        }

        .text {
          color: inherit;
          font-size: size(13);
          font-weight: 400;
        }

        &.active {
          @include setBgColor(darken($primary, 25%), $white);
        }
      }
    }

    .midinfo {
      @include flex-center-between;

      .leftinfo {
        @include flex-column;

        span {
          color: $black;
          @include font($primaryFont, 12, normal, normal, 19.6);

          @include breakpoint(tab992) {
            font-size: size(13);
          }
        }
      }

      .rightinfo {
        .counterprod {
          width: size(96);
          height: size(28);
          background: $white;
          @include border(solid, 2, darken($primary, 20%));
          @include radius(50);
          @include flex-center-vert;
    
          .counterfield {
            font-size: size(13);
            width: calc(100% - size(48));
            text-align: center;
            padding-inline: size(4);
          }
    
          button {
            @include square(24);
            @include circle;
            @include setBgColor(darken($primary, 20%), $white);
            padding: size(4);
            @include flex-center;
            overflow: hidden;
    
            svg {
              @include wh100;
    
              path {
                stroke: $white;
              }
            }
          }
        }
      }
    }

    .total-subtotal {
      @include flex-center-vert;
      gap: size(8);
      flex-wrap: wrap;

      .total {
        @include setBgColor($border-1, $black);
        padding: size(2) size(8);
        @include radius(4);
        @include font($primaryFont, 13, normal, normal, 18.2);

        span {
          color: inherit;
          font: inherit;
        }
      }
    }
  }

  &-footer {
    @include flex-center-between;
    border: none;

    .rightbuttons {
      @include flex-center-vert;
      gap: size(12);
    }

    .btn-remove,
    .btn-cancel,
    .btn-update {
      width: size(88);
      height: size(36);
      @include radius(4);
      @include flex-center;
      @include font($primaryFont, 13, medium, normal, 18.2);
      text-align: center;
    }

    .btn-remove {
      @include setBgColor($red, $white);

      @include hover {
        @include setBgColor(darken($red, 5%), $white);
      }
    }
    
    .btn-cancel {
      @include setBgColor($cancelbg, $white);

      @include hover {
        @include setBgColor(darken($cancelbg, 5%), $white);
      }
    }
    
    .btn-update {
      @include setBgColor(darken($primary, 25%), $white);

      @include hover {
        @include setBgColor(darken($primary, 15%), $white);
      }
    }
  }
}