@use "../global" as *;
@use "../partials" as *;

.homebanner {
  overflow: hidden;

  .swiper {
    @include w100;
    height: size(180);

    @include breakpoint(mobile576) {
      height: size(250);
    }

    @include breakpoint(mobile768) {
      height: size(310);
    }

    &-slide {
      @include flex-center;
      @include w100;
      height: size(180);
      flex-grow: 1;
      overflow: hidden;
  
      @include breakpoint(mobile576) {
        height: size(250);
      }
  
      @include breakpoint(mobile768) {
        height: size(310);
      }

      img {
        @include wh100;
        vertical-align: top;
        object-fit: fill;
        object-position: 50% 50%;
      }
    }

    &-button-prev,
    &-button-next {
      width: size(32);
      background: transparent;
      @include h100;
      margin-top: size(0);
      top: size(0);
      color: $red;
      @include transitionsall;

      &::after {
        content: '';
        width: size(0);
        height: size(0);
        display: none;
      }

      @include hover {
        background: rgba($black, 0.2);
      }
    }

    &-button-prev {
      left: size(0);
    }

    &-button-next {
      right: size(0);
    }

    &-pagination {
      &-bullet {
        &-active {
          background: $red;
        }
      }
    }
  }
}

.homeproducts {
  background: $white;

  &-header {
    @include border-single(bottom, solid, 1, $border-1);
    @include flex-center-between;
    padding: size(16) size(20);

    .homeproducts-title {
      color: $black;
      @include font($primaryFont, 15, bold, normal, 21);
      text-transform: uppercase;
    }

    .viewmore {
      height: size(30);
      padding-inline: size(10);
      @include setBgColor(darken($primary, 5%), $white);
      @include radius(4);
      @include flex-center;
      text-align: center;
    }
  }

  &-body {
    .productlink {
      display: block;
      @include wh100;
    }
  }
}

.trendingproducts {
  background: $white;

  &-header {
    @include border-single(bottom, solid, 1, $border-1);
    @include flex-center;
    padding: size(16) size(20);
    text-align: center;

    .trendingproducts-title {
      color: $black;
      @include font($primaryFont, 15, bold, normal, 21);
      text-transform: uppercase;
    }
  }

  &-body {
    .productlink {
      display: block;
      @include wh100;
    }

    .loadmore {
      @include flex-center;
      padding: size(32);
      background: $bodybg;
    }

    .btn-loadmore {
      height: size(40);
      padding-inline: size(24);
      @include setBgColor(darken($primary, 5%), $white);
      @include radius(4);
      @include flex-center;
      width: size(120);
      text-align: center;
    }
  }
}