@use "../global" as *;
@use "../partials" as *;

.productdetails {
  padding: size(8);

  &-header {
    background: $white;
    @include border-single(bottom, solid, 1, $border-1);
    padding: size(16);

    @include breakpoint(tab992) {
      padding: size(24);
    }

    .product-title {
      color: $black;
      font-size: size(16);
      @include line-clamp;

      @include breakpoint(tab992) {
        font-size: size(18);
      }
    }
  }

  &-body {
    background: $white;
    @include radius(4);
    @include flex-column;
    gap: size(20);
    padding: size(16);
    overflow: hidden;

    @include breakpoint(desktop1200) {
      flex-direction: row;
      align-items: flex-start;
    }

    .vanilla-zoom {
      @include w100;
      @include flex-column;
      gap: size(24);

      @include breakpoint(desktop1200) {
        width: 50%;
      }

      .default-thumb {
        @include w100;
      }

      .sidebar {
        .previewthumb {
          width: calc(100% / 4 - size(5));
          @include flex-center;
          background: $white;
          @include border(solid, 1, $shadow1);
          box-shadow: $bordershadow-1;
          padding: size(4);
          @include radius(4);
          overflow: hidden;
          @include transitionsall;
          
          .small-preview {
            @include wh100;
          }

          @include hover {
            border-color: darken($primary, 20%);
            box-shadow: $bordershadow-2;
          }
        }
      }
    }

    .details {
      @include w100;
      @include flex-column;
      gap: size(16);
      
      @include breakpoint(desktop1200) {
        width: 50%;
      }

      &-header {
        @include flex-column;
        gap: size(12);

        .ranges {
          @include flex-center-vert;
          gap: size(10);
          flex-wrap: wrap;

          @include breakpoint(mobile576) {
            flex-wrap: nowrap;
            width: auto;
          }

          .rangesingle {
            @include setBgColor($bodybg, $textprimary);
            @include border(solid, 1, $border-1);
            @include radius(10);
            @include flex-center-column;
            gap: size(8);
            padding: size(10);
            text-align: center;
            width: calc(100% / 3 - size(10));
            min-height: size(95);

            @include breakpoint(mobile576) {
              width: auto;
            }

            .rangeprice {
              .price {
                color: $textprimary;
                font-size: size(20);
              }
            }

            .rangequantity {
              color: $textprimary;
              font-size: size(13);
            }

            &.active {
              @include setBgColor(darken($primary, 20%), $white);
              border-color: darken($primary, 20%);

              .rangeprice {
                .price {
                  color: $white;
                }
              }
  
              .rangequantity {
                color: $white;
              }
            }
          }
        }

        .quantities {
          @include flex-column;
          gap: size(8);

          .colors {
            .color {
              color: $black;
              font-size: size(16);
              font-weight: 700;

              span {
                color: inherit;
                font: inherit;
              }
            }
          }
  
          .colors-variant {
            @include flex-center-vert;
            flex-wrap: wrap;
            gap: size(5);
  
            .previewthumb {
              @include square(48);
              @include flex-center;
              background: $white;
              @include border(solid, 1, $shadow1);
              box-shadow: $bordershadow-1;
              @include radius(4);
              padding: size(3);
              overflow: hidden;
              @include transitionsall;
              
              .small-preview {
                @include wh100;
              }

              &.active {
                border-color: darken($primary, 20%);
                box-shadow: $bordershadow-2;
              }

              &:hover:not(.active) {
                border-color: darken($primary, 20%);
                box-shadow: $bordershadow-2;
              }
            }
          }
        }
      }

      &-body {
        max-height: size(312);
        overflow-x: hidden;
        overflow-y: scroll;

        &::-webkit-scrollbar {
          background: transparent;
          width: size(0);
        }

        .table {
          thead {
            background: $theadbg;

            th {
              font-size: size(14);
              font-weight: 600;
              text-align: center;
            }
          }

          tbody {
            td {
              font-size: size(14);
              font-weight: 500;
              text-align: center;

              .price {
                font-size: size(14);
                font-weight: 500;
                text-align: center;
              }
            }

            .add-counterprod {
              @include flex-center-column;
              margin-bottom: size(4);
              position: relative;

              .counterprod {
                width: size(96);
                height: size(28);
                background: $white;
                @include border(solid, 2, darken($primary, 20%));
                @include radius(50);
                z-index: 10;
                display: none;

                &.active {
                  @include flex-center-vert;
                }

                .counterfield {
                  font-size: size(13);
                  width: calc(100% - size(48));
                  text-align: center;
                  padding-inline: size(4);
                }

                button {
                  @include square(24);
                  @include circle;
                  @include setBgColor(darken($primary, 20%), $white);
                  padding: size(4);
                  @include flex-center;
                  overflow: hidden;

                  svg {
                    @include wh100;

                    path {
                      stroke: $white;
                    }
                  }
                }
              }

              .btn-add {
                width: size(96);
                height: size(28);
                @include setBgColor(darken($primary, 20%), $white);
                @include radius(4);
                @include flex-center;
                font-size: size(13);
                font-weight: 500;
                text-align: center;
              }
            }

            .serial {
              font-size: size(11);
              font-weight: 600;
            }
          }
        }
      }

      &-footer {
        .table {
          thead {
            background: $theadbg;

            th {
              padding: size(8);

              .fromship {
                @include flex-center;
                gap: size(8);
                @include w100;

                .text {
                  font-size: size(13);
                  font-weight: 600;
                  text-align: center;
                }

                .flag {
                  width: size(40);
                  height: size(24);
                  @include flex-center;
                  overflow: hidden;

                  img {
                    @include wh100;
                  }
                }
              }
            }
          }

          tbody {
            td {
              font-size: size(13);
              font-weight: 500;
              padding: size(8);
              text-align: left;

              span {
                font: inherit;
              }
            }
          }
        }


        .descript {
          @include flex-column;
          gap: size(32);

          .prodbuttons {
            @include w100;
            @include flex-center-vert;
            gap: size(8);
            flex-wrap: wrap;
  
            .btn-wishlist {
              width: size(60);
              height: size(44);
              @include flex-center;
              padding: size(12);
              @include radius(4);
              background: $white;
              @include border(solid, 2, $border-1);
            }
  
            .btn-cart {
              width: size(140);
              height: size(44);
              @include flex-center;
              gap: size(8);
              padding: size(12);
              @include radius(4);
              @include setBgColor(darken($primary, 25%), $white);
              
              .text {
                color: inherit;
                @include font($primaryFont, 13, semibold, normal, 18.2);
              }
            }
  
            .btn-buy {
              width: size(140);
              height: size(44);
              @include flex-center;
              gap: size(8);
              padding: size(12);
              @include radius(4);
              @include setBgColor($primary, $white);
              
              .text {
                color: inherit;
                @include font($primaryFont, 13, semibold, normal, 18.2);
              }
            }
          }

          .footinfo {
            @include flex-column;
            gap: size(12);

            .tablelist {
              @include list-vertical;
              gap: size(8);

              &-item {
                @include flex-center-vert;
                gap: size(8);

                .title {
                  color: $black;
                  @include font($primaryFont, 13, bold, normal, 18.2);
                }

                .text {
                  color: $textprimary;
                  @include font($primaryFont, 13, normal, normal, 18.2);
                }
              }
            }

            .btn-copy {
              width: size(80);
              height: size(32);
              @include flex-center;
              gap: size(4);
              @include setBgColor(darken($primary, 25%), $white);
              @include radius(40);

              .icon {
                @include square(16);
                @include flex-center;
                overflow: hidden;

                svg {
                  @include wh100;
                }
              }

              .text {
                color: inherit;
                @include font($primaryFont, 13, semibold, normal, 18.2);
              }
            }
          }
        }
      }
    }
  }

  &-footer {
    padding-top: size(20);
    background: $white;
    @include border-single(bottom, solid, 1, $border-1);
    margin-top: size(16);
    @include flex-column;
    gap: size(8);
    @include radius(4);
    overflow: hidden;

    .nav-tabs {
      justify-content: center;
      flex-wrap: nowrap;
      border: none;
      gap: size(16);

      .nav-link {
        height: size(48);
        @include border(solid, 1, darken($primary, 25%));
        @include setBgColor($white, darken($primary, 25%));
        @include flex-center;
        text-align: center;
        @include radius(0);
        text-transform: uppercase;
        @include radius(4);
        font-weight: bold;
        width: auto;
        font-size: size(10);
        padding: size(10) size(16);

        @include breakpoint(mobile576) {
          width: size(120);
          font-size: size(12);
        }

        &.active {
          @include setBgColor(darken($primary, 25%), $white);
        }
      }
    }

    .tabinfo {
      background: $white;
      padding: size(16);
    }
  }

  .productleftinfo {
    @include radius(4);
    overflow: hidden;
  }

  .productspecification {
    padding: size(16);
    @include w100;

    table {
      padding: size(0) size(32) size(32);
      @include w100;

      tbody {
        tr {
          background: $bgrow;
          padding: size(5.6);
          
          &:nth-child(odd) {
            background: $white;
          }

          td {
            @include border(solid, 1, $border-1);
            font-size: size(13);
            font-weight: 500;
            padding: size(8);
            padding: size(14);

            &:first-child {
              text-align: center;
              color: $black;
              font-weight: bold;
            }

            &:nth-child(odd) {
              background: $rowbg;
            }
          }

          @include hover {
            background: $bgrow;
          }
        }
      }
    }
  }

  .productrightinfo {
    @include flex-column;
    gap: size(8);

    .sellerinfo {
      background: $white;
      @include radius(4);
      padding: size(24) size(16);
      @include flex-column;
      gap: size(20);

      &-top {
        @include flex-center-column;
        gap: size(8);
        text-align: center;

        .icon {
          @include square(40);
          @include flex-center;
          overflow: hidden;

          svg {
            @include wh100;
          }
        }

        .brandtitle {
          color: $black;
          font-size: size(16);
          font-weight: bold;
        }

        .storeinfo {
          color: $black;
          font-size: size(14);
        }

        .btn-view {
          @include setBgColor($primary, $white);
          padding: size(5) size(20);
          @include radius(40);
          font-size: size(14);
        }

        .scorebadge {
          @include setBgColor(darken($primary, 25%), $white);
          padding: size(4) size(8);
          @include radius(40);
          font-size: size(12);
        }
      }

      &-down {
        @include flex-center-vert;

        .item {
          width: 33%;
          @include flex-center-column;
          @include border-single(right, solid, 1, $border-1);

          &:last-child {
            border-right: size(0);
          }
        }
      }
    }

    .conditions {
      background: $white;
      @include radius(4);

      &-header {
        @include border-single(bottom, solid, 1, $border-1);
        @include flex-center;
        padding: size(12);
        text-align: center;

        .title {
          color: $black;
          font-size: size(16);
          font-weight: 700;
        }
      }

      &-body {
        padding: size(12);

        .conditionlist {
          @include flex-column;
          gap: size(8);

          &-item {
            color: $textprimary;
            font-size: size(13);
            font-weight: 400;
          }
        }
      }
    }

    .shippingcharge {
      background: $white;
      @include radius(4);

      &-header {
        @include border-single(bottom, solid, 1, $border-1);
        @include flex-center;
        padding: size(12);
        text-align: center;

        .title {
          color: $black;
          font-size: size(16);
          font-weight: 700;
        }
      }

      &-body {
        padding: size(12);
        @include flex-column;
        gap: size(8);

        .chargebox {
          @include flex-column;
          gap: size(5);

          .title {
            color: $black;
            font-size: size(14);
            font-weight: 700;
          }

          .text {
            color: $textprimary;
            font-size: size(12);
            font-weight: 400;
          }
        }
      }
    }

    .similarproducts {
      background: $white;
      @include radius(4);

      &-header {
        @include border-single(bottom, solid, 1, $border-1);
        @include flex-center;
        padding: size(12);
        text-align: center;

        .title {
          color: $black;
          font-size: size(16);
          font-weight: 700;
        }
      }

      &-body {
        padding: size(12);
        max-height: size(312);
        overflow-x: hidden;
        overflow-y: scroll;

        &::-webkit-scrollbar {
          background: transparent;
          width: size(0);
        }
      }
    }
  }
}