@use "../../global"as *;
@use "../../partials"as *;

.offcanvas {
  height: 100vh;

  &.offcanvas-top {
    border-bottom: 0;
    height: 100vh;
  }

  &.offcanvas-bottom {
    border-top: 0;
  }

  &.offcanvas-start {
    border-right: 0;
    width: size(260);
  }

  &.offcanvas-end {
    border-left: 0;
  }

  &.offcanvas-start {
    border-right: 0;
  }

  &-header {
    // padding-bottom: 0;

    .logo {
      @include square(60);
      @include circle;
      @include flex-center;
      overflow: hidden;
    }

    .btn-close {
      // @include setBgColor($white, $headingcolor);
      @include flex;
      gap: size(10);
      @include square(20);
      @include flex-center;
      overflow: hidden;
      @include radius(0);
      @include transitionsall;

      svg {
        @include wh100;
      }

      @include hover {
        opacity: 1;
        @include rotate(180);

        svg {
          path {
            // fill: $dangercolor;
          }
        }
      }
    }
  }

  &-body {

    .categorylist {
      @include wh100;
      @include list-vertical;
      overflow-x: hidden;
      overflow-y: scroll;
    
      &::-webkit-scrollbar {
        background: transparent;
        width: size(0);
      }
    
      &::-webkit-scrollbar-thumb {
        @include radius(8);
      }
  
      &-link {
        background: $white;
        @include flex-center-between;
        gap: size(8);
        @include w100;
        padding: size(14) size(18);
        @include transitionsall;
  
        .text {
          color: $black;
          @include font($primaryFont, 12, medium, normal, 19.6);
          flex: 1 1;
          @include line-clamp;
        }
  
        .arrow {
          @include transitionsall;
        }
  
        @include hover {
          background: $linkhoverbg;
  
          .arrow {
            @include translateX(size(4));
          }
        }
      }
  
      .categorybox {
        position: absolute;
        top: 0;
        left: -100%;
        background: $white;
        width: size(260);
        @include flex-column;
        @include h100;
        @extend %animation;
        @extend %slideLeftIn;
        z-index: 1000;

        &.is-active {
          left: size(0);
        }

        .back-category {
          @include flex-center-vert;
          gap: size(8);
          padding: size(14) size(18);
          background: $white;
          @include border-single(bottom, solid, 4, $bodybg);
          height: size(48);
  
          .text {
            color: $black;
            @include font($primaryFont, 12, medium, normal, 19.6);
            display: inline-block;
            margin-top: size(4);
          }
  
          .icon {
            @include transitionsall;
          }
  
          @include hover {
            background: $linkhoverbg;
    
            .icon {
              @include translateX(size(-4));
            }
          }
        }
      }
  
      .subcategory {
        @include list-vertical;
        
        overflow-x: hidden;
        overflow-y: scroll;
        max-height: 99%;
      
        &::-webkit-scrollbar {
          background: transparent;
          width: size(0);
        }
      
        &::-webkit-scrollbar-thumb {
          @include radius(8);
        }
  
        &-link {
          @include flex-center-between;
          gap: size(8);
          padding: size(14) size(18);
          background: $white;
  
          .text {
            color: $black;
            @include font($primaryFont, 12, medium, normal, 19.6);
            flex: 1 1;
          }
  
          .arrow {
            @include transitionsall;
          }
  
          @include hover {
            background: $linkhoverbg;
    
            .arrow {
              @include translateX(size(4));
            }
          }
        }
      }
  
      &-item {
        &:focus {
          .categorybox {
            left: 0;
          }
        }
      }
    }

    &::-webkit-scrollbar {
      background: transparent;
      width: size(8);
    }

    &::-webkit-scrollbar-thumb {
      @include radius(8);
    }
  }
}